- if @question.answers.empty?
  %p Currently no answers yet
- else
  = "#{pluralize(@question.answers.count,'Answer')}"

  .answers-table
    - unless @question.answers.empty?
      - @question.answers.each do |answer|
        - if answer.persisted?
          %div{ id: "answer-#{answer.id}" }
            = render answer
