.row
  .col-md-8
    .all_questions
      %h1 All Questions
.row
  .col-md-8
    - if @questions.empty?
      %p Currently no questions yet
    - else
      %table.table.table-striped
        - @questions.each do |q|
          %tr
            %td
              = link_to q.title, question_answers_path(q)
              %br
              .question_body
              = q.body
.row
  %p= link_to 'Ask question', new_question_path
