.row
  .col-md-8
    .all_questions
      %h1 All Questions
.row
  .col-md-8
    - if @questions.empty?
      %p Currently no questions yet
    - else
      %table.table.table-striped
        - @questions.each do |question|
          %tr
            %td
              = link_to question.title, question
              %br
              .question_body
              = question.body
.row
  %p= link_to 'Ask question', new_question_path
