- if comment.persisted?
  - cache comment do
    %div{ id: "comment-#{comment.id}" }
      %span.comment-body
        = comment.body
      %span.comment-author
        = comment.author.email
      %span.comment-date
        = comment.created_at