.attachments
  %ul
    - attachable.attachments.each do |a|
      %li
        = link_to a.file.filename, a.file.url
        .delete-attachment-link= link_to delete_attachment_icon, a, method: :delete, data: { confirm: "Are you sure?" }