// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer { display: none; }
.best-answer { background-color: yellow; }
.answers  {  border-top: solid gray 1px;  }
.answers-table {  margin-top: 20px;  }
#answers-count { background-color: lightgray }
.set-the-best-answer-link { background-color: lightblue; }
.edit-answer-link { background-color: lightblue; }
.delete-answer-link { background-color: lightblue; }
.answer_body { min-height: 50px; }


