// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-comment-form {
  display: none;
}

.comment-row {
  margin-top: 5px;
  border-top: solid gray 1px;
}

span.comment-author {
  background-color: bisque;
  color: blue;
}

span.comment-date {
  color: gray;
}