// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question_title {
  // background-color: yellow;
}

div.all_questions {
  margin-bottom: 40px;
}

.edit_question {
  display: none;
}

.question_body {
  background-color: green;
}

